/* Star-shaped Soap Bubbles by Stacey Leung (http://chasethestars.com)
Ported for Jogger by £ukasz "Lukem" Wójcik (http://lukem.jogger.pl)

Szablon na licencji GPL:
http://www.opensource.org/licenses/gpl-license.php */

/* Globalne */

* {
	margin: 0;
	padding: 0;
}

html {
    overflow: auto;
    overflow-y: scroll;
}

body {
	background: #fff;
	color: #363636;
	font: 62.5% Arial, Helvetica, sans-serif;
	margin: 0px;
	background: url(/files//bg.jpg) repeat-x top;
}

a, a:link, a:visited {
	color: #86ad63;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #ffffff;
	background-color: #86ad63;
	text-decoration: none;
}

img {
	border:none;
}

acronym, abbr {
	cursor: help;
	border-bottom: 1px dotted;
}

blockquote  {
    margin-left: 20px;
    margin-right: 20px;
	background-color:#eff6fe;
	color:#383d41;
	padding:5px;
}

p, ol, ul {
	font-size: 1.2em;
}

ol, ul {
	margin-left: 25px;
}

ol {
	list-style: decimal outside;
}

ul li {
	list-style-image:url(/files//star.gif);
}

fieldset {
	border: 0;
}

input, textarea {
	background-color: #ebf8d5;
	color: #383838;
	border: 1px solid #a3c782;
}

/* Nag³ówek */

#header { 
    background: url(/files//bg-header.jpg) no-repeat top;
    width: 796px;
	height: 120px;
    margin: 0 auto;
    text-align: right; 
}

#header h1 {
	padding-top: 38px;
	padding-right: 5px;
	font-size: 3.2em;
}

.desc {
	font-size: 1.4em;
	font-style: italic;
	padding-left: 5px;
	color: #86ad63;
}

/* G³ówna treœæ */

#main {
	width: 796px;
	margin: 20px auto;
}

/* Wpisy */

#content {
	float: left;
	width: 594px;
	margin-right: 30px;
	margin-left: 3px;
}

#content h2, #comments cite {
	background-color: #eff6fe;
	padding: 8px 8px 7px 8px;
	margin: 0px 0px 3px 0px;
}

#content h2 a {
	font-weight: normal;
	background: none;
	color: #393939;

}

#content small.postmeta, #comments small.commeta {
	color: #86ad63;
	font-weight: normal;
	text-transform: lowercase;
	letter-spacing: 1pt;
	text-align: left;
	font-size: 1em;
}

#content p {
	margin: 10px 0px;
}

#content p.commentlink {
	margin-top: 20px;
	margin-bottom: 50px;
	border-top: 1px dashed #ddd;
	text-align: right;
	font-size: 1.4em;
}

#content ul li ul, #content ol li ol, #comments li ul, #comments li ol {
	font-size: 1em;
}

/* Nawigacja */

#nav {
	font-size: 1.1em;
	margin-bottom: 40px;
}

#next {
	float: left;
}

#prev {
	float: right;
}

/* Komentarze */

#comments h2 {
	background: none;
	font-size: 1.7em;
	margin: 0px 0px 30px 0px;
	padding: 0px;
}

#comments ol {
	list-style: none;
	margin-left: 0px;
}

#comments li {
	margin-bottom: 30px;
}

#comments cite {
	display: block;
	font-style: normal;
	font-size: 1.2em;
}

#comments small.commeta {
	font-size: 0.8em;
}

#comments p {
	font-size: 1em;
}

#comments ol li ol {
	list-style: decimal outside;
	margin-left: 30px;
}

/* Formularz komentowania */

#commentform {
	font-size: 1.2em;
}

#commentform fieldset {
	margin-bottom: 15px;
}

#commnickid, #commnickurl {
	width: 200px;
}

/* Pasek boczny */

#sidebar {
	float: left;
	background: #ebf8d5;
	width: 160px;
}

#sidebar h3 {
	font-weight: normal;
	padding: 5px;
	padding-left: 16px;
	list-style: none;		
	margin-bottom: 10px;
	text-transform:lowercase;
	letter-spacing: 2pt;
	font-family: "century gothic", sans-serif;
	font-size: 1.5em;
	text-align: left;
	background-color: #ddedc2;
}

#sidebar ul, #sidebar p {
	margin-bottom: 10px;
	font-size: 1em;
}

#sidebar p {
	margin-left: 10px;
}

/* Wyszukiwarka */

#sidebar fieldset {
	text-align: center;
	margin-bottom: 10px;
}

#sidebar fieldset #searchsubmit {
	width: 110px;
}

/* Miniblog */

ul#miniblog {
	list-style: none;
}

ul#miniblog li {
	list-style-image: none;
	margin-left: -15px;
	margin-right: 3px;
	font-size: 1.2em;
}

ul#miniblog p {
	margin-left: 3px;
	margin-right: 5px;
	font-size: 0.9em;
	font-weight: normal;
}

/* Stopka */

#footer {
	font-size: 1.2em;
	color: #666;
	clear: both;

}